nodered/node-red-flows.json
[{"id":"a502d63b.5afd28","type":"tab","label":"Connect Device","disabled":false,"info":""},{"id":"deb0d57.1c46528","type":"tab","label":"Make Dashboard","disabled":false,"info":""},{"id":"3d067ad.3241f86","type":"tab","label":"REST API","disabled":false,"info":""},{"id":"d5041bb1.2afbe8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"469c8829.b96378","type":"ui_tab","z":"","name":"Arduino","icon":"dashboard","order":1},{"id":"f4c7370b.0b38c8","type":"ui_group","z":"","name":"Měření","tab":"469c8829.b96378","order":1,"disp":true,"width":"6","collapse":false},{"id":"94f615db.6b09e8","type":"ui_tab","z":"","name":"City status","icon":"dashboard","order":2},{"id":"4fbd7540.b0428c","type":"ui_group","z":"","name":"Vlhkoměr","tab":"469c8829.b96378","order":2,"disp":true,"width":"6","collapse":false},{"id":"963232ea.69cdd","type":"ui_group","z":"","name":"Lokální teplota","tab":"469c8829.b96378","order":3,"disp":true,"width":"6","collapse":false},{"id":"6056188b.9fa9e8","type":"ui_group","z":"","name":"Město","tab":"94f615db.6b09e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"af04338f.3a68f","type":"ibmiot","z":"","name":"IoT-Workshop","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"84e67d0b.6d5f3","type":"ui_group","z":"","name":"Ovládání serva","tab":"469c8829.b96378","order":4,"disp":true,"width":"6","collapse":false},{"id":"2934ca87.008cd6","type":"http in","z":"3d067ad.3241f86","name":"","url":"/city","method":"get","upload":false,"swaggerDoc":"","x":140,"y":180,"wires":[["b5ae6a9c.8cf438"]]},{"id":"e9946ed.741549","type":"http in","z":"3d067ad.3241f86","name":"","url":"/coordinates","method":"post","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["9ff5d846.87ed98"]]},{"id":"b5ae6a9c.8cf438","type":"template","z":"3d067ad.3241f86","name":"Formulář","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form action=\"/coordinates\" method=\"POST\">\n  City:<br><br>\n  <input type=\"text\" name=\"city\" value=\"Enter city name\"><br>\n  <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":300,"y":180,"wires":[["504f2b46.fd32e4"]]},{"id":"4fe38d87.ade044","type":"comment","z":"3d067ad.3241f86","name":"Ukázka REST API - GET/POST","info":"","x":210,"y":120,"wires":[]},{"id":"69d09922.434548","type":"http request","z":"3d067ad.3241f86","name":"OpenStreetMap Data","method":"GET","ret":"obj","url":"https://nominatim.openstreetmap.org/search?q={{payload.city}}&format=json","tls":"","x":420,"y":420,"wires":[["55335968.b88748","ff7389e9.a4df58","f599206e.0a66e"]]},{"id":"9ff5d846.87ed98","type":"change","z":"3d067ad.3241f86","name":"Set Headers","rules":[{"t":"set","p":"headers.content-type","pt":"msg","to":"text/html","tot":"str"},{"t":"set","p":"headers.user-agent","pt":"msg","to":"Chrome/68.0.3440.106","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["69d09922.434548"]]},{"id":"574cf493.296f0c","type":"http response","z":"3d067ad.3241f86","name":"","statusCode":"","headers":{},"x":930,"y":420,"wires":[]},{"id":"55335968.b88748","type":"function","z":"3d067ad.3241f86","name":"Select Lat  Long City","func":"var cityfound = msg.payload[0].display_name\nvar lat = msg.payload[0].lat\nvar long = msg.payload[0].lon\nmsg.payload = \"The coordinates of \" + cityfound + \" are: \" +lat + \", \" + long\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["574cf493.296f0c"]]},{"id":"673e9767.fdd9a8","type":"weather_insights","z":"3d067ad.3241f86","name":"Weather Info","host":"twcservice.mybluemix.net","service":"/observations.json","geocode":"","units":"m","language":"","x":170,"y":700,"wires":[["5a11c2c5.8714cc"]]},{"id":"ff7389e9.a4df58","type":"function","z":"3d067ad.3241f86","name":"Lat Long for Weather Service","func":"var lat = msg.payload[0].lat\nvar long = msg.payload[0].lon\nmsg.payload =lat + \",\" + long\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["673e9767.fdd9a8"]]},{"id":"5a11c2c5.8714cc","type":"function","z":"3d067ad.3241f86","name":"Read Temperature","func":"msg.payload = msg.observation.temp;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":720,"wires":[["75196f2b.7142b","f5aaef5e.cbf88"]]},{"id":"504f2b46.fd32e4","type":"http response","z":"3d067ad.3241f86","name":"","statusCode":"","headers":{},"x":450,"y":180,"wires":[]},{"id":"75196f2b.7142b","type":"link out","z":"3d067ad.3241f86","name":"Teplota","links":["c12d1a5f.f84448"],"x":660,"y":760,"wires":[]},{"id":"c12d1a5f.f84448","type":"link in","z":"deb0d57.1c46528","name":"Vstup Temp","links":["75196f2b.7142b"],"x":215,"y":500,"wires":[["4f225efb.b0dda","15e79853.ea1868"]]},{"id":"34cb645f.cb349c","type":"ibmiot in","z":"a502d63b.5afd28","authentication":"apiKey","apiKey":"af04338f.3a68f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"arduino-iotlab","applicationId":"","deviceType":"ArduinoUno","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["1b4a1417.e4b5ec","ed782027.1287e","e5ff8790.1a0078"]]},{"id":"1b4a1417.e4b5ec","type":"debug","z":"a502d63b.5afd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":160,"wires":[]},{"id":"ed782027.1287e","type":"debug","z":"a502d63b.5afd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":240,"wires":[]},{"id":"8bf23f2a.740dc","type":"comment","z":"deb0d57.1c46528","name":"Teplota ve vybraném městě - data z Weather Service","info":"","x":390,"y":460,"wires":[]},{"id":"252253a9.daddac","type":"comment","z":"deb0d57.1c46528","name":"Lokální teplota, vlhkost a vzdálenost - data z Arduina","info":"","x":390,"y":60,"wires":[]},{"id":"e5ff8790.1a0078","type":"link out","z":"a502d63b.5afd28","name":"Arduino Data","links":["4b53c65d.b4ac38"],"x":400,"y":320,"wires":[]},{"id":"4b53c65d.b4ac38","type":"link in","z":"deb0d57.1c46528","name":"Vstup Arduino","links":["e5ff8790.1a0078"],"x":215,"y":120,"wires":[["9e412074.61bee","58b518ec.a23208","532fa59d.44b34c","ba544685.ad2b18","2b85d298.abf97e"]]},{"id":"4f225efb.b0dda","type":"function","z":"deb0d57.1c46528","name":"Command do Arduina","func":"if (msg.payload < 15) {\n    msg.payload = \"lb\"\n} else if (msg.payload > 30){\n    msg.payload = \"lr\"\n} else {\n    msg.payload = \"lg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":500,"wires":[["c78bdeb4.38742"]]},{"id":"c78bdeb4.38742","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"af04338f.3a68f","outputType":"cmd","deviceId":"arduino-iotlab","deviceType":"ArduinoUno","eventCommandType":"listen","format":"txt","data":"lo","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":500,"wires":[]},{"id":"24a7da44.db5826","type":"ui_template","z":"deb0d57.1c46528","group":"6056188b.9fa9e8","name":"","order":2,"width":"3","height":"3","format":"<img src=\"{{msg.payload}}\">","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":880,"y":560,"wires":[[]]},{"id":"15e79853.ea1868","type":"function","z":"deb0d57.1c46528","name":"Link obrázku do Dashboardu","func":"if (msg.payload < 15) {\n    msg.payload = \"https://raw.githubusercontent.com/janlouda/iotlaborator/master/images/blue.png\"\n} else if (msg.payload > 30){\n    msg.payload = \"https://raw.githubusercontent.com/janlouda/iotlaborator/master/images/red.png\"\n} else {\n    msg.payload = \"https://raw.githubusercontent.com/janlouda/iotlaborator/master/images/green.png\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":560,"wires":[["24a7da44.db5826"]]},{"id":"f599206e.0a66e","type":"function","z":"3d067ad.3241f86","name":"Select City","func":"var cityfound = msg.payload[0].display_name\nmsg.payload = cityfound\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":460,"wires":[["e31f778d.1ce088"]]},{"id":"e31f778d.1ce088","type":"link out","z":"3d067ad.3241f86","name":"City Name","links":["d0af1c0.f2f50e"],"x":915,"y":460,"wires":[]},{"id":"d0af1c0.f2f50e","type":"link in","z":"deb0d57.1c46528","name":"Vstup City","links":["e31f778d.1ce088"],"x":215,"y":720,"wires":[["5142c3e0.aebd3c"]]},{"id":"69ac8886.965378","type":"comment","z":"deb0d57.1c46528","name":"Název vybraného města - data z OpenStreetMap","info":"","x":380,"y":680,"wires":[]},{"id":"9e412074.61bee","type":"ui_text","z":"deb0d57.1c46528","group":"f4c7370b.0b38c8","order":1,"width":"6","height":"1","name":"","label":"Teplota","format":"{{msg.payload.d.TEMP}} °C","layout":"row-spread","x":880,"y":80,"wires":[]},{"id":"c9f8606b.3607a","type":"ui_gauge","z":"deb0d57.1c46528","name":"Vlhkoměr","group":"4fbd7540.b0428c","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":880,"y":220,"wires":[]},{"id":"e9bbf333.16441","type":"ui_chart","z":"deb0d57.1c46528","name":"Teplota","group":"963232ea.69cdd","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":280,"wires":[[],[]]},{"id":"5142c3e0.aebd3c","type":"ui_text","z":"deb0d57.1c46528","group":"6056188b.9fa9e8","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":870,"y":720,"wires":[]},{"id":"58b518ec.a23208","type":"function","z":"deb0d57.1c46528","name":"Vybrat vlhkost","func":"msg.payload = msg.payload.d.HUMI;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["c9f8606b.3607a"]]},{"id":"532fa59d.44b34c","type":"function","z":"deb0d57.1c46528","name":"Vybrat teplotu","func":"msg.payload = msg.payload.d.TEMP;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["e9bbf333.16441"]]},{"id":"ba544685.ad2b18","type":"ui_text","z":"deb0d57.1c46528","group":"f4c7370b.0b38c8","order":2,"width":"6","height":"2","name":"","label":"Vlhkost","format":"{{msg.payload.d.HUMI}} %","layout":"row-spread","x":880,"y":120,"wires":[]},{"id":"2b85d298.abf97e","type":"ui_text","z":"deb0d57.1c46528","group":"f4c7370b.0b38c8","order":3,"width":"6","height":"1","name":"","label":"Vzdálenost","format":"{{msg.payload.d.DIST}} cm","layout":"row-spread","x":890,"y":160,"wires":[]},{"id":"9a6c4033.f6af3","type":"comment","z":"deb0d57.1c46528","name":"Ovládání serva","info":"","x":280,"y":340,"wires":[]},{"id":"5a9da288.770dbc","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"af04338f.3a68f","outputType":"cmd","deviceId":"arduino-iotlab","deviceType":"ArduinoUno","eventCommandType":"listen","format":"txt","data":"sc","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":400,"wires":[]},{"id":"3a426a6b.747f96","type":"ui_switch","z":"deb0d57.1c46528","name":"","label":"SERVO Control","group":"84e67d0b.6d5f3","order":0,"width":"6","height":"4","passthru":true,"decouple":"false","topic":"listen","style":"","onvalue":"so","onvalueType":"str","onicon":"","oncolor":"","offvalue":"sc","offvalueType":"str","officon":"","offcolor":"","x":280,"y":400,"wires":[["5a9da288.770dbc"]]},{"id":"7050f0e7.aedef","type":"ui_text_input","z":"3d067ad.3241f86","name":"Enter City Name","label":"Vlož název města bez diakritiky:","group":"6056188b.9fa9e8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":160,"y":280,"wires":[["370b5a2a.0f0126"]]},{"id":"370b5a2a.0f0126","type":"change","z":"3d067ad.3241f86","name":"Change Structure","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.city","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":300,"wires":[["9ff5d846.87ed98"]]},{"id":"b2340a97.4cce38","type":"comment","z":"deb0d57.1c46528","name":"Ovládání serva","info":"","x":280,"y":780,"wires":[]},{"id":"6daf8ec6.3916","type":"ui_button","z":"deb0d57.1c46528","name":"LED Off","group":"6056188b.9fa9e8","order":0,"width":"6","height":"1","passthru":false,"label":"   Vypnout LED","color":"","bgcolor":"","icon":"fa-lightbulb-o","payload":"lo","payloadType":"str","topic":"","x":270,"y":840,"wires":[["6cc52945.5cb898"]]},{"id":"6cc52945.5cb898","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"apiKey","apiKey":"af04338f.3a68f","outputType":"cmd","deviceId":"arduino-iotlab","deviceType":"ArduinoUno","eventCommandType":"listen","format":"txt","data":"lo","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":840,"wires":[]},{"id":"f5aaef5e.cbf88","type":"debug","z":"3d067ad.3241f86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":700,"wires":[]}]